* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --accent-color: #ff8a00;
  --dark-bg: #050505;
  --darker-bg: #000;
  --text-color: #fff;

  --header-height-large: 100px;
  --header-height-small: 60px;
  --header-height-mobile: 65px;
}

*:focus,
a:focus,
button:focus,
[role="button"]:focus,
*:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  text-decoration: none !important;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--darker-bg);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  padding: 80px 0;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.subtitle {
  font-size: 1.1rem;
  color: #ccc;
  margin-bottom: 60px;
}

.btn-principal {
  display: inline-block;
  padding: 15px 30px;
  background-color: var(--accent-color);
  color: var(--darker-bg);
  font-weight: 600;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-principal:hover {
  background-color: #00a4b7;
  transform: translateY(-3px);
}

h2.section-title-with-icon {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* * REGRA CORRIGIDA ABAIXO
 * (Usa background-image e background-size para forçar o tamanho do SVG)
*/
h2.section-title-with-icon::before {
  content: "";
  display: inline-block;

  background-image: url("../icon-dronyimagem.svg");
  background-size: 80px 80px;
  background-repeat: no-repeat;

  width: 80px;
  height: 80px;

  margin-right: 25px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

  position: relative;
  top: 4px;
}
